*{
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.page__header {
  display: flex;
  justify-content: center;
  margin-top:20px;
  font-size: 25px;
}
.section__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-right: 100px;
  margin: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width:auto;
}

.section__results {
  width: 70%;
  flex-direction: row;
}

.resultados{
  font-size: 25px;
  margin:20px;
}

.section__favorites {
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
.button {
  color:black;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 15px;
  margin:10px;
}

.search__input {
  width: 220px;
  height: 25px;
  text-align: left;
  margin-right: 30px;
  padding:10px;
  border: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  background-color: transparent;
  color:white;
  font-size: 20px;
}

.search__input::placeholder {
  font-size: 20px;
}

.results__list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin:5px;
  list-style: none;
}
.select-User-Fav {
  background-color: #AE2723;

}
.favorites__list {
  max-width: 100%;
  text-align: center;
  list-style: none;
}

.favorites__title {
  font-size: 20px;
  text-align: center;
}

.favoriteElement{
  margin:5px;
  min-height: 295px;
  max-width: 210px;
  padding-left: 70px;
}

.remove-fav-element{
text-align:right;
}

.result__list__element {
  margin: 10px;
  max-width: 220px;
  min-height: 295px;
  text-align: center;
}

.result__image {
  min-height: 295px;
  max-height: 295px;
  width: 100%;
}

.remove-fav-element {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}

.search__button {
  width: 150px;
  height: 40px;
  border: 4px solid  #E7B246;
  font-size: 20px;
}

.reset__button {
  align-self: center;
}

//media query mobile ****************************************

@media all and (min-width: 320px) and (max-width: 600px) {
  .body {
    width: 100vw;
  }
  .page__header {
    width: 100%;
    font-size: 20px;
  }

  .section__results {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .resultados{
    font-size: 18px;
  }

  .section__favorites {
    width: 30%;
    font-size: 10px;
    padding: 5px;
  }
  .button {
    width: 80px;
    height: 25px;
    font-size: 13px;
    margin:5px;
  }

  .search__input {
    width: 170px;
    height: 25px;
    margin-right: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .search__input::placeholder {
    font-size: 15px;
  }

  .results__list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 13px;
  }

  .favorites__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
    list-style: none;
  }

  .favorites__title {
    font-size: 15px;
  }

  .favoriteElement{
    max-width: 170px;
    min-height: 200px;
    padding-left: 3px;
  }

  .result__list__element {
    margin: 1px;
    max-width: 130px;
    min-width: 130px;
    max-height: 180px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .result__image {
    min-height: 130px;
    min-width: 100px;
    max-height: 130px;
    max-width: 100px;
  }

  .search__button {
    width: 100px;
    font-size: 13px;
  }

  .favorite__image {
    min-height: 150px;
    min-width: 107px;
    max-height: 150px;
    max-width: 107px;
  }

  .remove-fav-element {
    width: 20px;
    height: 20px;
  }
}
