//<header class="page__header">@@label</header>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🍿Evaluación Final Andreina</title>
</head>
<body>

  <header class="page__header">
    <h1 class="page__title">🍿Buscador de series📽</h1>
  </header>
  <main class="page__main">
    <section class="section__search">
      <label for="input" class="input-label"></label>
      <input type="text" class="search__input" id="input">
      <button class="search__button">SEARCH</button>

    </section>
    <section class="section__results"></section>
    <section class="section__favorites"></section>
  </main>
</body>
</html>
