<main class="page__main">

  <section class="section__search">
      <label for="input" class="input-label"></label>
      <input type="text" class="search__input" id="input" placeholder="Buscar serie                 🔍">
      <button class="search__button button">SEARCH 🤞🏼</button>
  </section>

  <div class="wrapper">
    <section class="section__results">
      <h3 class="resultados">Resultados 🎬</h3>
      <ul class="results__list"></ul>
    </section>

    <section class="section__favorites">
      <h3 class="favorites__title">⭐️Listado de series favoritas⭐️<h3>
      <button class="reset__button button">RESET🗑</button>
      <ul class="favorites__list"></ul>
    </section>
  </div>
</main>
