<main class="page__main">

    <section class="section__search">
      <label for="input" class="input-label"></label>
      <input type="text" class="search__input" id="input">
      <button class="search__button">SEARCH</button>
    </section>

    <section class="section__results">
      <div class="results__container">
        <ul class="results__list">

        </ul>
      </div>
    </section>

    <section class="section__favorites">
        <div class="results__favorites">

          <ul class="favorites__list">
            <img src="" alt="" class="favorite__image">
            <h2 class="favorite__name"></h2>
          </ul>

        </div>
    </section>
  </main>
